.btn__primary{
    background-color: var(--bs-color-primary);
    text-align: center;
    text-decoration: none;
    color: var(--bs-white);
    padding: 10px 20px;
    font-weight: 500;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.33);
    &:hover{
        color: var(--bs-white);
        background-color: var(--bs-color-primary-light);
    }
}