#about{
    position: relative;
    margin: 50px 0;
    .overview{
        display: initial;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        background: var(--bs-color-primary);
        padding: 0.5rem 1rem;
        line-height: 30px;
        filter: url('#goo');
        // &::before{
        //     content: '';
        //     height: 100%;
        //     width: 8px;
        //     background-color: var(--bs-color-primary);
        //     position:absolute;
        //     left: 0;
        // }
    }  
    .bi-buildings,
    .bi-link-45deg{
        color: var(--bs-color-primary);
    }
    .about__working{
        a{
            font-weight: 600;
        }
    }  
}
