@import 'variable.scss';

// ======== About ============
#about {
    z-index: 100;
    position: relative;
    padding: 80px 0;

    .body_content {
        max-width: 45%;
        font-size: 1.5rem;
        color: #afafaf;

        @media (max-width:600px) {
            max-width: 100%;
        }

        a {
            color: $primary;
            font-weight: 900;
        }

        p {
            font-size: 1rem;
        }
    }

    @media (max-width:600px) {
        .social {
            margin-top: -20px;

            ul {
                margin-top: 15px;

                li {
                    a {
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

.img_footer_content {
    img {
        position: absolute;
        right: 5%;
        bottom: 0;
        max-width: 60%;
    }

    svg {
        position: absolute;
        right: 5%;
        bottom: 0;

        @media (max-width:600px) {
            position: absolute;
            width: 100%;
            right: 0;
            left: 50%;
            transform: translate(-50%, 0);
            bottom: -20%;
        }
    }
}